@import "tailwindcss";

@theme {
  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
  --shadow-card: 0px 3px 11.8px 0px rgba(0, 0, 0, 0.15);
  --shadow-mini: 0px 3px 11.8px 0px rgba(0, 32, 162, 0.35);
}

.input-style {
  @apply h-10 w-111.5 p-6 rounded-[10px] border;
}

.navbar-btn {
  @apply text-[16px] font-medium py-2 px-7.5 rounded-3xl font-sora cursor-pointer;
}

.navbar-icon {
  @apply flex items-center gap-2 p-3 rounded-xl;
}

/* @utility font-sora {
  font-family: var(--font-sora);
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 4px;
  scrollbar-color: #8d8d8d;
}

::-webkit-scrollbar-thumb {
  background-color: #9b9b9b;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #737373;
}
